.alertBox {
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  display: block;
}

.blue {
  background-color: rgb(30, 77, 125);
}

.yellow {
  background-color: yellowgreen;
}

.gray {
  background-color: gray;
}
